extends ../layout

block content
    h3= book.name
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        p Author: #{book.author}
        p Publisher: #{book.publisher}
        p Genre: #{book.genre}
        p Page Count #{book.pageCount}
        p Cover: #{book.cover}
        p= book.description